<div class="container-fluid">
<div class="row">
    <div class="col-md-5 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Solar Heater Bookings</div>
            <div class="panel-body">
                <label>Please select Heater Id below:</label>
                <select class="form-control" (change)="displaySelected()" [(ngModel)]="selectedId">
                    <option></option>
                    <option *ngFor="let id of solarHeaterIds" value="{{id}}">
                        {{id}}
                    </option>
                </select><br>
                <div *ngIf="selectedId && selectedSolar">
                    Details of Solar Id: {{selectedId}}<br>
                    <table border="1">
                        <tr>
                            <th>Customer ID</th>
                            <th>Distributor Name</th>
                            <th>Purchase Date</th>
                            <th>Installation Date</th>
                        </tr>
                        <tr>
                            <td>{{selectedId}}</td>
                            <td>{{selectedSolar.distributorName}}</td>
                            <td>{{selectedSolar.purchaseDate | date:'fullDate'}}</td>
                            <td>{{selectedSolar.installationDate | daysCount}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
